In [1]:
import numpy as np
import pandas as pd
from astropy import cosmology
from astropy.cosmology import FlatLambdaCDM
import astropy.units as u
from astropy.coordinates import SkyCoord
cosmo = FlatLambdaCDM(H0=100 * u.km / u.s / u.Mpc, Om0=0.3)

In [2]:
#array = np.array([2,8,7]).tofile("array.bin")
x01 = np.fromfile("boas_lani.bin",  dtype=np.int16)
np.shape(x01)

(16777216,)

In [3]:
x01

array([-1, -1, -1, ...,  0,  0,  0], dtype=int16)

In [4]:
x03 = x01[x01 != -1]

In [5]:
x03

array([0, 0, 0, ..., 0, 0, 0], dtype=int16)

In [6]:
len(x03)

10331218

In [7]:
x04 = x01[x01 == 3]
x04
len(x04)

289506

In [8]:
f1 = open("Linakia_cells.csv","w")
f1.write('i,j,k,sgx,sgy,sgz')
f1.write('\n')
for k in range(256):
    for j in range(256):
        for i in range(256):
            #print (i,j,k)
            f1.write('%s,%s,%s,%8.2f,%8.2f,%8.2f\n' % (i, j, k, -158.75+(i*1.25), -158.75+(j*1.25), -158.75+(k*1.25)))
f1.close()

In [9]:
lg = pd.read_csv("Linakia_cells.csv")
lg

            i    j    k     sgx     sgy     sgz
0           0    0    0 -158.75 -158.75 -158.75
1           1    0    0 -157.50 -158.75 -158.75
2           2    0    0 -156.25 -158.75 -158.75
3           3    0    0 -155.00 -158.75 -158.75
4           4    0    0 -153.75 -158.75 -158.75
...       ...  ...  ...     ...     ...     ...
16777211  251  255  255  155.00  160.00  160.00
16777212  252  255  255  156.25  160.00  160.00
16777213  253  255  255  157.50  160.00  160.00
16777214  254  255  255  158.75  160.00  160.00
16777215  255  255  255  160.00  160.00  160.00

[16777216 rows x 6 columns]

In [10]:
lga = pd.DataFrame(np.column_stack((lg,x01)),columns=['i','j','k','sgx','sgy','sgz','flag'])

In [11]:
dx = max(lga.sgx)-min(lga.sgx)
dx

318.75

In [12]:
lga

              i      j      k     sgx     sgy     sgz  flag
0           0.0    0.0    0.0 -158.75 -158.75 -158.75  -1.0
1           1.0    0.0    0.0 -157.50 -158.75 -158.75  -1.0
2           2.0    0.0    0.0 -156.25 -158.75 -158.75  -1.0
3           3.0    0.0    0.0 -155.00 -158.75 -158.75  -1.0
4           4.0    0.0    0.0 -153.75 -158.75 -158.75  -1.0
...         ...    ...    ...     ...     ...     ...   ...
16777211  251.0  255.0  255.0  155.00  160.00  160.00   0.0
16777212  252.0  255.0  255.0  156.25  160.00  160.00   0.0
16777213  253.0  255.0  255.0  157.50  160.00  160.00   0.0
16777214  254.0  255.0  255.0  158.75  160.00  160.00   0.0
16777215  255.0  255.0  255.0  160.00  160.00  160.00   0.0

[16777216 rows x 7 columns]

In [13]:
lga.to_csv('lga.csv',index=False,header=True)

In [14]:
lga_lania = lga.drop(lga[lga.flag != 1].index)
lga_lania

              i      j      k    sgx    sgy    sgz  flag
5210992   112.0  131.0   79.0 -18.75   5.00  -60.0   1.0
5210993   113.0  131.0   79.0 -17.50   5.00  -60.0   1.0
5210994   114.0  131.0   79.0 -16.25   5.00  -60.0   1.0
5210995   115.0  131.0   79.0 -15.00   5.00  -60.0   1.0
5210996   116.0  131.0   79.0 -13.75   5.00  -60.0   1.0
...         ...    ...    ...    ...    ...    ...   ...
16209514  106.0   86.0  247.0 -26.25 -51.25  150.0   1.0
16209515  107.0   86.0  247.0 -25.00 -51.25  150.0   1.0
16209516  108.0   86.0  247.0 -23.75 -51.25  150.0   1.0
16209517  109.0   86.0  247.0 -22.50 -51.25  150.0   1.0
16209518  110.0   86.0  247.0 -21.25 -51.25  150.0   1.0

[1197010 rows x 7 columns]

In [15]:
cc = SkyCoord(sgx=lga_lania.sgx, sgy=lga_lania.sgy, sgz=lga_lania.sgz, frame='supergalactic', representation_type='cartesian')
xx = cc.transform_to('galactic')
xx.representation_type = 'cartesian'
print (xx)

<SkyCoord (Galactic): (u, v, w) [dimensionless]
    [(-26.96631374, -56.97987661,  -1.63526278),
     (-27.88599196, -56.13329999,  -1.63526278),
     (-28.80567018, -55.28672337,  -1.63526278), ...,
     (122.26656261,  97.75653199, -34.42634342),
     (121.34688439,  98.60310861, -34.42634342),
     (120.42720617,  99.44968523, -34.42634342)]>

In [16]:
# #just for testing
# cc02 = SkyCoord(u=xx.u*u.Mpc, v=xx.v*u.Mpc, w=xx.w*u.Mpc, frame='galactic', representation_type='cartesian')
# xxx02 = cc02.transform_to('supergalactic')
# xxx02.representation = 'cartesian'
# xxx02

In [17]:
ii = np.rint(np.round(128. + ((256./400.)*xx.u),0)).astype(int)
jj = np.rint(np.round(128. + ((256./400.)*xx.v),0)).astype(int)
kk = np.rint(np.round(128. + ((256./400.)*xx.w),0)).astype(int)
ii,jj,kk
print (len(ii))
print (max(ii),max(jj),max(kk))

1197010
229 204 164

In [18]:
d = np.load('twompp_density.npy')
# ii = [1,2,3]
# jj = [1,2,3]
# kk = [1,2,3]
delta = d[ii,jj,kk]
delta
print (np.mean(delta))

-0.05014066050171902

In [19]:
laniakia_density = pd.DataFrame(np.column_stack((lga_lania.sgx,lga_lania.sgy,lga_lania.sgz,delta)),columns=['sgx','sgy','sgz','delta'])
laniakia_density

           sgx    sgy    sgz     delta
0       -18.75   5.00  -60.0 -0.347969
1       -17.50   5.00  -60.0 -0.334302
2       -16.25   5.00  -60.0 -0.208867
3       -15.00   5.00  -60.0 -0.191881
4       -13.75   5.00  -60.0 -0.126498
...        ...    ...    ...       ...
1197005 -26.25 -51.25  150.0  0.599204
1197006 -25.00 -51.25  150.0  1.085904
1197007 -23.75 -51.25  150.0  0.721287
1197008 -22.50 -51.25  150.0  0.721287
1197009 -21.25 -51.25  150.0  0.000000

[1197010 rows x 4 columns]

In [20]:
laniakia_density.to_csv('laniakia_density.csv',index=False,header=True)

In [21]:
x = (max(lga_lania.sgx) - min(lga_lania.sgx))/2.
y = (max(lga_lania.sgy) - min(lga_lania.sgy))/2.
z = (max(lga_lania.sgz) - min(lga_lania.sgz))/2.
dist = np.sqrt(x**2. + y**2. + z**2.)
print (x,y,z,dist)

86.25 85.0 105.0 160.27807866330318