In [1]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from mpl_toolkits.mplot3d.art3d import Poly3DCollection
%matplotlib notebook
import pandas as pd
import astropy
from astropy import cosmology
from astropy.cosmology import FlatLambdaCDM
import astropy.units as u
from astropy.coordinates import SkyCoord
cosmo = FlatLambdaCDM(H0=100 * u.km / u.s / u.Mpc, Om0=0.3)
import pvhub
import pycf3
c = 299792.458

In [2]:
import sys
print (sys.version)

3.8.3 (default, May 19 2020, 13:54:14)
[Clang 10.0.0 ]

In [3]:
Lania = pd.read_csv("Laniakia_positions.csv")
Lania

           sgx       sgy       sgz
0     -1882.60   501.715  -6086.52
1     -1757.11   501.715  -6086.52
2     -1631.62   501.715  -6086.52
3     -1506.13   501.715  -6086.52
4     -1380.64   501.715  -6086.52
...        ...       ...       ...
75001 -2259.07 -2635.540  14117.40
75002 -2133.58 -2635.540  14117.40
75003 -2008.09 -2635.540  14117.40
75004 -1882.60 -2635.540  14117.40
75005 -1757.11 -2635.540  14117.40

[75006 rows x 3 columns]

In [4]:
ind = pd.read_csv("Laniakia_index.csv")
#ind = ind[:50000]
ind

            i      j      k
0         154    130      1
1         130    131      2
2         130      2      1
3         131    132      3
4         131      3      2
...       ...    ...    ...
149999  74928  75005  75004
150000  74928  75004  74927
150001  74929  75006  75005
150002  74929  75005  74928
150003  75006  74929  74937

[150004 rows x 3 columns]

In [5]:
print (Lania.sgx)

0       -1882.60
1       -1757.11
2       -1631.62
3       -1506.13
4       -1380.64
          ...
75001   -2259.07
75002   -2133.58
75003   -2008.09
75004   -1882.60
75005   -1757.11
Name: sgx, Length: 75006, dtype: float64

In [6]:
print (ind.i)

0           154
1           130
2           130
3           131
4           131
          ...
149999    74928
150000    74928
150001    74929
150002    74929
150003    75006
Name: i, Length: 150004, dtype: int64

In [ ]:
x = []; y =[]; z = []
for i in ind.i:
    #print (Lania.sgx[i-1])
    x.append(Lania.sgx[i-1])
for j in ind.j:
    y.append(Lania.sgy[j-1])
for k in ind.k:
    z.append(Lania.sgz[k-1])

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(projection='3d')
ax.scatter(Lania.sgx, Lania.sgy, Lania.sgz,s=0.01)

# Set an equal aspect ratio
#ax.set_aspect('equal')

plt.show()

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(projection='3d')
ax.scatter(x, y, z,s=0.01)

# Set an equal aspect ratio
#ax.set_aspect('equal')

plt.show()

In [ ]:
# fig = plt.figure()
# ax = fig.add_subplot(projection='3d')
# # x = [Lania.sgx[ind.i]]
# # y = [Lania.sgy[129],Lania.sgy[130],Lania.sgy[1],Lania.sgy[131]]
# # z = [Lania.sgz[0],Lania.sgz[1],Lania.sgz[0],Lania.sgz[2]]
# ax.plot(x, y, z)

# # Set an equal aspect ratio
# #ax.set_aspect('equal')

# plt.show()

In [ ]:
# fig = plt.figure()
# ax = Axes3D(fig)#, auto_add_to_figure=False)
# fig.add_axes(ax)
# ax.set_xlim(-10000,5000)
# ax.set_ylim(-7500,5000)
# ax.set_zlim(-5000,10000)
# # x = [Lania.sgx[153],Lania.sgx[129],Lania.sgx[129],Lania.sgx[130]]
# # y = [Lania.sgy[129],Lania.sgy[130],Lania.sgy[1],Lania.sgy[131]]
# # z = [Lania.sgz[0],Lania.sgz[1],Lania.sgz[0],Lania.sgz[2]]
# verts = [list(zip(x,y,z))]
# ax.add_collection3d(Poly3DCollection(verts))
# plt.show()

In [ ]:
lan_super = SkyCoord(sgx=Lania.sgx,sgy=Lania.sgy,sgz=Lania.sgz,frame='supergalactic',representation_type = 'cartesian', unit='km/s')
lan_super

In [ ]:
lan_icrs = lan_super.transform_to('icrs')
lan_icrs

In [ ]:
# #test
# ccc = SkyCoord(lan_icrs.ra, lan_icrs.dec, frame='icrs', unit='deg')
# x001 = ccc.transform_to('galactic')
# c00 = SkyCoord(l=x001.l.value*u.degree, b=x001.b.value*u.degree, distance=lan_icrs.distance, frame='galactic')
# c01 = c00.transform_to('supergalactic')
# c01.representation_type = 'cartesian'
# c01

In [ ]:
lan_gal = lan_super.transform_to('galactic')
lan_gal

In [ ]:
lani_galactic = pd.DataFrame(np.column_stack((lan_gal.l.value,lan_gal.b.value,lan_gal.distance.value)),columns=['l','b','cz'])
#lani_galactic
lani_galactic.to_csv('lan_galactic.csv',sep=' ',index=False,header=True)

In [ ]:
lani_icrs = pd.DataFrame(np.column_stack((lan_icrs.ra.value,lan_icrs.dec.value,lan_icrs.distance.value/c)),columns=['RA','DEC','zcmb'])
lani_icrs
lani_icrs.to_csv('lan_icrs.csv',index=False,header=True)

In [ ]:
ra = lan_icrs.ra.value
dec = lan_icrs.dec.value
zcmb = lan_icrs.distance.value/c

In [ ]:
pv = pvhub.calculate_pv(ra, dec, zcmb)

In [ ]:
pv

In [ ]:
np.mean(pv)

In [ ]:
print (len(lan_gal.distance.value))

In [ ]:
cf3 = pycf3.CF3()
obs_v = []; obs_dist = []; adj_dist = [];pv_cf3 = []
for i in range(len(lan_gal.distance.value)):
    result = cf3.calculate_distance(velocity=lan_gal.distance.value[i], glon=lan_gal.l.value[i], glat=lan_gal.b.value[i])
    obs_v.append((round(result.observed_velocity_,3)))
    obs_dist.append(round(float(result.observed_distance_),3))
    adj_dist.append(round(float(result.adjusted_distance_),3))
    pv_cf3.append(round(float(result.observed_velocity_) - float(result.observed_distance_)*75.0,3))
    #print (i,int(result.observed_velocity_), round(float(result.observed_distance_),3) , round(float(result.adjusted_distance_),3))

In [ ]:
#print (len(lani_galactic),len())

In [ ]:
lani_gal_cf3 = pd.DataFrame(np.column_stack((round(lani_galactic,3),obs_v,obs_dist,adj_dist,pv_cf3)),columns=['l','b','cz','obs_v','obs_dist','adj_dist','pv_cf3'])
lani_gal_cf3

In [ ]:
lani_gal_cf3.to_csv('lan_gal_cf3.csv',index=False,header=True)

In [ ]:
print (np.mean(pv_cf3))

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(projection='3d')
ax.scatter(Lania.sgx[:8000], Lania.sgy[:8000], Lania.sgz[:8000],s=0.01)

# Set an equal aspect ratio
#ax.set_aspect('equal')

plt.show()